<div class="text-center">
    <h2>Welcome, Username</h2>
    <a href="">
      Click here to view your events
    </a>
    <h1>Welcome to {{title}} App</h1>
    <a href="" class="top-menu" role="button">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-lock"></span>
        Login
      </button>
    </a>
    <a href="" class="top-menu" role="button">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-lock"></span>
        Register
      </button>
    </a>
</div>
<app-events></app-events>
